
<header class="row header">
  <div class="nav col s12">
    <span class="left-align">
      <%= link_to image_tag("logo.png"), "/",  { :class => "brand-logo" } %>
    </span>
    <span class="right-align">
    <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
    <% if user_signed_in? %> 
      <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
      <!-- *_path はUserモデルを作成したときに、
      deviseにより自動で作成されてますので、rake routesで確認できます -->
      <strong class="bold">User: [<%= current_user.email %>]</strong>
      <% if current_user.role == 'admin' %>
          <%= link_to(admin_users_path) do %>
            <%= content_tag :i, "assignment", class: ["small", "material-icons"] %>
            <%= "Dashboard" %>
          <% end %>|
      <% end %>
          <%= link_to(mypage_index_path) do %>
            <%= content_tag :i, "assignment_ind", class: ["small", "material-icons"] %>
            <%= "Mypage" %>
          <% end %>|

          <%= link_to(destroy_user_session_path) do %>
            <%= content_tag :i, "vpn_key", class: ["small", "material-icons"] %>
            <%= "Logout" %>
          <% end %>        
        
    <% else %>
          <%= link_to(new_user_registration_path) do %>
            <%= content_tag :i, "person_add", class: ["small", "material-icons"] %>
            <%= "SignUp" %>
          <% end %>|       

          <%= link_to(new_user_session_path) do %>
            <%= content_tag :i, "mood", class: ["small", "material-icons"] %>
            <%= "Login" %>
          <% end %>        
          
    <% end %>
    </span>
  </div>
</header>