
  <%# 
    products show:
      |left|right|
      |  s5|   s5|
  %>

  <%### left side contents ###%>
  <div class="col s5">
    <div class="card">
      <div class="card-image">

        <%# products image %>
        <% begin %>
          <%= image_tag @product.img_path %>
        <% rescue %>
          <%= image_tag "no_image.jpg" %>
        <% end %>
        
      </div>
    </div>

    <div class="card">
      <div class="card-content">

        <%# reviewers form %>
        <%= render "review/new", product_id: @product.id %>

      </div>
      <div class="divider"><%# content lile %></div>
      <div class="card-content" >
      <p>Share product URL:</p>
      <div>
      <pre class="share">
        <code id="shareURL"></code>
        <i class="tiny material-icons right copy" onclick="currentURLCopy()">content_copy</i>
      </pre>
      </div>
      <script>
        let currentURL = decodeURI(location.href)
        let shareURL = document.querySelector("#shareURL")
        shareURL.innerHTML = currentURL
      </script>
        
      </div>
    </div>
  </div>

  <%### right side contents ###%>
  <div class="col s5">
      <div class="card">
        <div class="card-content">

          <%# products title %>
          <h2><%= @product.title%></h2>

        </div>
        <div class="card-content">

          <%# products info %>
          <p>
          <%= @product.info %>:</p>

        </div>

        
        <div class="divider"><%# content lile %></div>

        <div class="card-content right-align">

          <%# products value %>
          <%= if_content_tag :p, "#{currency_type("ja")} #{@product.value}" %>

        </div>

        <div class="divider"><%# content lile %></div>

        <div class="card-content right-align">
          <%= link_to "Purchase", "/cart/#{@product.id}", {class: "btn waves-effect waves-light" }%>
        </div>


        <div class="divider"><%# content lile %></div>

        <%# Review list contents %>
        <ul class="collapsible z-depth-0" style="border:none;">
          <li>
            <div class="collapsible-header">

              <%= link_to("javascript:void(0)") do %>
                <%= @product.reviews.size > 0 ? "Reviews (#{@product.reviews.size})" : content_tag(:span, "There are no reviews.", class: "normal") %>
              <% end %>


            </div>
            <div class="collapsible-body">
              <%= render "review/list", reviews: @reviews %>
            </div>
            <div  class="collapsible-body">
            </div>
          </li>
        </ul>

        <div class="card-content right-align">
          <%= form_tag("/products/download/#{@product.id}", method: "get") do %>
            <%= hidden_field_tag :filename, @product.img_path %>
            <%= button_tag "Image Download", class: 'btn waves-effect waves-light' %>
          <% end %>
        </div>
      </div>
  </div>

