<!DOCTYPE html>
<html>
  <head>
    <title>RailsBuildDocker</title>
    <%# csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render "shared/header" %>
      <div id="notice" class="notice"><%= if_content_tag :p, notice %></div>
      <div id="alert" class="alert"><%= if_content_tag :p, alert %></div>
    <div class="main">
    <%= row_render do %>
      <%= yield %>
    <% end %>
    </div>

  </body>
</html>
